@import url("https://fonts.googleapis.com/css?family=Questrial");

body {
  font-family: "Questrial", "sans-serif";
  background-image: linear-gradient(rgb(165, 183, 202), rgb(203, 210, 216));
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

.chart {
  position: fixed;
  top: 10vh;
  left: 0;
  width: 100vw;
  height: 90vh;
}

.hidden {
  visibility: hidden;
}

.transition {
  transition: 300ms;
}

.display-text {
  line-height: 1.2;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0;
  display: block;
}

select {
  padding: 2px;
  border-radius: 10px;
  background-color: rgb(240, 248, 255);
}

a {
  color: rgb(131, 85, 1);
  transition: 200ms;
}

.large {
  font-size: 1.3rem;
}

a:hover {
  color: rgb(189, 123, 0);
}
